<html>
    <head>
        <link rel="stylesheet" href="/static/main.css"/>
        
    </head>
    <body>
        <h1>create a roulette</h1>
        <form>
            <input type="checkbox" id="advanced-mode-selector" name="advanced" value="true">
            <label for="advanced-mode-selector">advanced mode</label>
            <input type="text" id="test-advanced-item" class="advanced" name="test-advanced-item">
        </form>
        <script src="/static/create.js"></script>
    </body>
</html>